section{
  margin-top: 10px;
}

header nav figure {
  display: inline-block;
  width: 11%;
  margin: 10px;
  text-align: center;
}

#logo {
  height: 35px;
  width: auto;
}

#slide {
  background-color: rgb(240, 240, 240);
}

video {
  width: 100%;
}
