  h1,h2,h3,h4,h5,h6{
    font-family: "SourceSansPro-Bold";
  }

  p{
    font-family: "SourceSansPro-Regular";
  }

  body {
    margin: 0;
    background-color: rgb(240, 240, 240);
  }

  header {
    padding: 2px 2px;
    margin: 0;
    box-shadow: 0 0 4px;
    margin-bottom: 10px;
    background-color: white;
  }

  header figure {
    display: inline-block;
    width: 11%;
    margin: 10px;
    text-align: center;
  }

  #logo {
    height: 90px;
    width: auto;
  }

  nav {
    float:right;
    display: inline-block;
    margin-right: 10px
  }

  nav ul {
    padding: 20px 0;
  }

  nav ul li {
    display: inline-block;
  }

  nav ul li a{
    color: black;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
    font-family: "SourceSansPro-Semibold";
    cursor: pointer;
  }

  nav ul li a:hover {
    border-bottom: 3px solid rgb(189, 214 ,0);
  }

  nav ul li a.active {
    border-bottom: 3px solid rgb(189, 214 ,0);
  }

  section {
    width: 70%;
    display: inline-block;
    font-family: "SourceSansPro-Regular";
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  section:last-of-type{
    margin-bottom: 50px;
  }

  section article figure img {
    width: 60%;
    border: solid 0.2rem;
    box-sizing: border-box;
  }

  section article h3{
    text-align: center;
  }

  section article h3.destacada{
    text-decoration: underline;
  }

  section article h4{
      padding-left: 20px;
  }

  section article ul li{
    font-family: "SourceSansPro-Light";
  }

  section article .galeria{
    text-align: center;
  }

  section article .galeria img{
    display: inline-block;
    width: 25%;
    transition: .2s ease all;
  }

  section article .galeria img:hover{
    display: inline-block;
    width: 30%;
  }

  aside {
    width: 29%;
    display: inline-block;
    float: right;
    box-shadow: 1 1 4px;
    border-radius: 2px;
    background-color: white;
    margin-bottom: 60px;
  }

  aside h2 {
    text-align: center;
  }

  aside h3 {
    padding-left: 10px;
    font-size: 16px;
  }

  aside p {
    padding-left: 10px;
    padding-right: 10px;
  }

  footer {
    background-color: #262324;
    position: fixed;
    bottom: 0px;
    width: 100%;
    opacity: 0.9;
  }

  footer #imgContent{
    margin: 0 auto;
    padding-top: 6px;
    width: 50%;
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  footer #imgContent figure{
      display: inline;
      width: 100%;
  }

  footer #imgContent figure img{
    opacity: 0.4;
    width: 5vh;
  }

  footer #imgContent figure img:hover{
    opacity: 0.9;
  }

  footer #contactForm{
    display: inline-block;
    font-size: 3vh;
    float: right;
    width: 50%;
    border-left: 1px solid #848484;
    box-sizing: border-box;
    font-family: "SourceSansPro-Light";
  }

  footer #contactForm ul{
    padding: 0px;
    list-style: none;
    color:#E6E6E6;
    width: 40%;
    margin: 0px;
    display: inline-block;
    font-size: 0.6em;
  }

  footer #contactForm ul:first-child{
    margin-left: 15%;
    width: 45%;
  }

  footer #contactForm ul:last-child{
    float: right;
  }


/* Extra Small (XS) para smartphones*/

@media (max-width: 767px) {

  header figure{
    display: block;
    text-align: center;
    width: inherit;
  }

  nav{
    display: block;
    float: none;
    text-align: center;
    margin-right: 0px;
  }

  nav ul{
    padding: 10px 0px;
  }

  nav ul li a{
    margin: 0px;
    font-size: 1.2rem;
  }

  section{
    display: block;
    width: inherit;
  }

  section:last-of-type{
    margin-bottom: 50px;
    /* el ultimo tipo de elemento en este caso section aplicale lo siguiente */
  }

  section article figure img {
    width: 100%;
  }

  section article .galeria{
    text-align: center;
    margin: 5px;
  }

  section article .galeria img{
    width: 30%;
    border: 0.2rem solid black;
    box-sizing: border-box;
  }

  section article .galeria img:hover{
    width: 32%;
  }

  aside {
    width: inherit;
    display: block;
    border-radius: 2px;
    margin-bottom: 10px;
    float: none;
    padding-bottom: 5px;
  }

  aside h3{
    font-size: 1.5rem;
    padding-left: 20px;
  }

  footer{
    padding: 5px 0px 0px 0px;
  }

  footer div#imgContent{
    padding: 0px;
    margin: 0px;
  }

  footer div#imgContent figure{
    margin: 0px 0px 0px 10px;
  }

  footer div#imgContent figure img{
    width: 1.5rem;
  }

  footer ul li{
    display: none;
  }

  footer #contactForm ul:first-child{
    width: 100%;
    margin:0px;
    text-align: center;
  }

  footer ul:first-child li:first-child{
    display: inline;
    font-size: 0.9rem;
  }

}
